    /*                                                                 Global css                                       */
    /* PlaceHolders */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BDBDBD;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BDBDBD;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #BDBDBD;
}
.screen {
  width:100%;
  height:100%;
  max-width: 414px;
  max-height: 736px;
  background:rgb(253 253 253);
  opacity: 1;
  position: absolute;
  overflow: hidden;
  z-index:-1;
}
.hidden{
  display: none;
}
.text-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align: center;
}
/*navbar*/
.navbar{
  width: 100%;
  max-width:414px;
  background-color: rgba(255,255,255,1);
  z-index: 2!important;
  text-align:center;
  overflow: hidden;
  height: 5%;
  
}
/*menubar*/
.menubar i:hover {  
  color: #000000;           /*rgba(171,4,4,1);*/
}
.menubar {
    width: 100%;
    height: 100%;
    max-height: 67px;
    max-width: 414px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    float: center;
    overflow: hidden;
    display: block;
    font-size: 12px;
}

.fa-home {
    opacity: 1;
    position: absolute;
    top: 16px!important;
    left: 9%;
    z-index: 2;
    color: #d2d2d2;
}

.fa-medal {
    opacity: 1;
    position: absolute;
    left: 33.5%;
    z-index: 2;
    top: 17px!important;
    color: #d2d2d2;
}

.fa-chart-line {
    opacity: 1;
    position: absolute;
    left: 59%;
    z-index: 2;
    top: 16px!important;
    color: #d2d2d2;
}

.fa-user-circle {
    opacity: 1;
    position: absolute;
    left: 82%;
    z-index: 2;
    top: 16px!important;
    color: #d2d2d2;
}

.goBack {
    position: absolute;
    top: 35px;
    left: 27px;
    font-size: 24px;
    color: lightgray;
    z-index:3;
}

.fixed-bottom {
    position: fixed;
    background-color: #ececec82;
    top: 670px;
    left: 1px;
    width: 461px;
    box-shadow: 1px -5px 2px rgb(222 221 221 / 34%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
 /*                                                                AvaliarOperacionais                                      */
 .titleAvaliarOperacionais {
    position: absolute;
    color: #3A3939;
    width: 100%;
    top: 25px;
    left: 81px;
    font-size: 28px;
    font-family: INHERIT;
}
.AvaliarDiv{
    position: relative;
    width: 90%;
    height: 65%;
    top: 16%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: auto;
}
/* botao confirmar*/ 
.SubmeterClass{
    height: 5%;
    width: 60%;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    position: absolute;
    background-color: #7d2d2d;
    color: white;
    font-size: 19px;
    border: none;
    top: 83%;
    left: 20%;
    box-shadow: -4px 4px 2px rgb(171 171 171 / 50%);
}
 /*                                                                ConfirmarMateriais                                     */
 .titleConfirmarMateriais {
    position: absolute;
    color: rgb(58 57 57);
    width: 100%;
    top: 25px;
    left: 89px;
    font-size: 28px;
    font-family: INHERIT;

}
.TabelaDiv{
    position: relative;
    width: 90%;
    height: 55%;
    top: 18%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: auto;
}
.check-box-group {
  display: flex;
  flex-direction: column;
}
.custom-checkbox {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  margin: 10px 0;
}
.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #222;
  display: inline-block;
  border-radius: 3px;
  background: #222 url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
  transition: background-size 0.2s ease;
}

.custom-checkbox input:checked + .checkmark {
  background-size: 60%;
  transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
}

.custom-checkbox input {
  display: none;
}
.SubmeterClass{
    height: 5%;
    width: 60%;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    position: absolute;
    background-color: #7d2d2d;
    color: white;
    font-size: 19px;
    border: none;
    top: 80%;
    left: 20%;
    box-shadow: -4px 4px 2px rgb(171 171 171 / 50%);
}
 /*                                                               Error                                    */
 /*.borderClass {
  width: 414px;
  height: 747px;
  background: rgba(255,255,255,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.44999998807907104);
  overflow: hidden;
}
.errorBoxClass {
  width: 344px;
  height: 64px;
  background: rgba(248,248,248,0.949999988079071);
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 38px;
  border: 1px solid rgba(148,147,147,1);
}
.confirmBoxClass {
  width: 344px;
  height: 29px;
  background: rgba(248,247,247,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 375px;
  left: 38px;
  border: 1px solid rgba(150,149,151,1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.confirmarTxtClass {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 380px;
  left: 99px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.errorTxtClass {
  width: 36px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 192px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.textTxtClass {
  width: 251px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 344px;
  left: 81px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}*/
/*                                                               HistoricoOcorrencias                                   */
.titleHistoricoOcorrencias {
    position: absolute;
    color: #3A3939;
    width: 100%;
    top: 25px;
    left: 89px;
    font-size: 28px;
    font-family: INHERIT;
}
.historicoOcorrenciasDiv{
    position: absolute;
    width: 90%;
    height: 65%;
    top: 16%;
    left: 5.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: auto;
}
/*tabela*/
.VerMais {
  background-color: #7d2d2d;
  width: 90px;
  height: 40px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  color: white;
}
/*                                                               Login                                   */
.inputLogin{
  height:50px;
  position:relative !important;
  top:2%;
}
.buttonInput{
  color: rgba(89,12,12,1);
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: right;
  padding: 0;
  border: none;
  background: none;
}
#logoImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 146.37px;
  max-height:143.01px;
  top:16%;
  opacity: 1;
  overflow: hidden;
  z-index:0;
  background:center;
  position:relative;
}
#secure4allTxt {
  color: rgba(0,0,0,1);
  top:15%;
  font-family: 'Inter', sans-serif;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  z-index:1;
}
#loginForm {
  width:100%;
  height:100%;
  max-width: 343px;
  max-height: 400px;
  opacity: 1;
  position: relative;
  top: 20%;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#passInput {
  position: absolute;
  top: 17%;
}
#viewTxt {
  width:60px;
  top: 33%;
  left: 79%;
}
#submitInput {
  width:100%;
  height:100%;
  max-width: 343px;
  max-height: 51px;
  background: rgba(171,4,4,1);
  opacity: 1;
  position: relative;
  top: 23%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  color:white;
}
/* ERROR  PART*/
.errorFrame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:414px;
  width: 100%;
  height: 100%;
  background: rgba(106,106,106,0.70000001192092896);
  opacity: 1;
  position: fixed;
  overflow: hidden;
  text-align:center;
  z-index:3;
}
.textTxtClass {
  width:100%;
  max-width: 251px;
  color: rgba(0,0,0,1);
  top: 20%;
  font-family:'Inter', sans-serif;
  font-weight: Regular;
  font-size: 15px;
}
#errorBoxClass {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 344px;
  width:100%;
  height:100%;
  max-height: 64px;
  background: rgba(248,248,248,0.949999988079071);
  position: relative;
  top: 50%;
  border: 1px solid rgba(148,147,147,1);
}
#errorTxtClass {
  width: 36px;
  top:5%;
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
}
#confirmBoxId {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 344px;
  width:100%;
  max-height: 29px;
  height:100%;
  background: rgba(248,247,247,0.699999988079071);
  position: relative;
  top: 50%;
  border: 1px solid rgba(150,149,151,1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
#confirmarTxtId {
  width:100%;
  top:18%;
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  border: none;
  background: none;
}
/*                                                               MenuOcorrencia                                  */


/*                                                               MenuPrincipal                                 */
.titleMenuPrincipal {
  color: rgba(0,0,0,1);
  width: 100%;
  max-width:414px;/* Full width */
  font-family: Roboto;
  font-weight:Bolder;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  z-index:1;
  display:block;
}

#gifMenu {
  width: 42px;
  height: 42px;
  background: url("../images/v390_505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 364px;
  overflow: hidden;
}
#ocorrenciasButton {
  max-width: 137px;
  width:100%;
  max-height: 137px;
  height:100%;
  background: rgba(171,4,4,1);
  position: relative;
  top: 20%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#ocorrenciasButtonIcon {
  max-width: 50px;
  width:100%;
  height: 100%;
  max-height:50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  bottom: 50%;
  left: 30%;
  position: absolute;
  overflow: hidden;
}
#ocorrenciasButtonText {
  width:100%;
  max-width: 112px;
  color: rgba(255,255,255,1);
  position: absolute;
  font-family: Inter;
  font-weight: Bolder;
  font-size: 19px;
  opacity: 1;
  right:9%;
  text-align: center;
}
#chart_div{
  width: 80%;
    height: 150px;
    opacity: 1;
    position: relative;
    top: 30%;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*                                                UtilizacaoMateriais                         */
.titleMateriaisUtilizados{
  position: absolute;
    color: #3A3939;
    width: 100%;
    top: 30px;
    left: 81px;
    font-size: 28px;
    font-family: INHERIT;
}