
.borderClass {
  width: 414px;
  height: 747px;
  background: rgba(255,255,255,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.44999998807907104);
  overflow: hidden;
}
.errorBoxClass {
  width: 344px;
  height: 64px;
  background: rgba(248,248,248,0.949999988079071);
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 38px;
  border: 1px solid rgba(148,147,147,1);
}
.confirmBoxClass {
  width: 344px;
  height: 29px;
  background: rgba(248,247,247,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 375px;
  left: 38px;
  border: 1px solid rgba(150,149,151,1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.confirmarTxtClass {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 380px;
  left: 99px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.errorTxtClass {
  width: 36px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 192px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.textTxtClass {
  width: 251px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 344px;
  left: 81px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}