.screen {
  width:100%;
  height:100%;
  max-width: 414px;
  max-height: 736px;
  background: rgb(253 253 253);
  opacity: 1;
  position: absolute;
  overflow: hidden;
  z-index:-1;
}
.navbar{
  width: 100%;
  max-width:414px;
  background-color: rgba(255,255,255,1);
  z-index:3;
  text-align:center;
  overflow: hidden;
}

.title {
  color: rgba(0,0,0,1);
  width: 100%;
  max-width:414px;/* Full width */
  font-family: Roboto;
  font-weight:Bolder;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  z-index:1;
  display:block;
}

#gifMenu {
  width: 42px;
  height: 42px;
  background: url("../images/v390_505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 364px;
  overflow: hidden;
}
#ocorrenciasButton {
  max-width: 137px;
  width:100%;
  max-height: 137px;
  height:100%;
  background: rgba(171,4,4,1);
  position: relative;
  top: 20%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#ocorrenciasButtonIcon {
  max-width: 50px;
  width:100%;
  height: 100%;
  max-height:50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  bottom: 50%;
  left: 30%;
  position: absolute;
  overflow: hidden;
}
#ocorrenciasButtonText {
  width:100%;
  max-width: 112px;
  color: rgba(255,255,255,1);
  position: absolute;
  font-family: Inter;
  font-weight: Bolder;
  font-size: 19px;
  opacity: 1;
  right:9%;
  text-align: center;
}

/* Menu bar */
.menubar i:hover {  
  color: #000000;           /*rgba(171,4,4,1);*/
}
.menubar {
    width: 100%;
    height: 100%;
    max-height: 67px;
    max-width: 414px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    float: center;
    overflow: hidden;
    display: block;
    font-size: 12px;
}

.fa-home {
    opacity: 1;
    position: absolute;
    top: 16px!important;
    left: 9%;
    z-index: 2;
    color: #d2d2d2;
}

.fa-medal {
    opacity: 1;
    position: absolute;
    left: 33.5%;
    z-index: 2;
    top: 17px!important;
    color: #d2d2d2;
}

.fa-chart-line {
    opacity: 1;
    position: absolute;
    left: 59%;
    z-index: 2;
    top: 16px!important;
    color: #d2d2d2;
}

.fa-user-circle {
    opacity: 1;
    position: absolute;
    left: 82%;
    z-index: 2;
    top: 16px!important;
    color: #d2d2d2;
}

#goBack {
     position: absolute;
top: 35px;
    left: 27px;
    font-size: 24px;
    color: lightgray;
}

.fixed-bottom {
    position: fixed;
    background-color: #ececec82;
    top: 670px;
    left: 1px;
    width: 461px;
    box-shadow: 1px -5px 2px rgb(222 221 221 / 34%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*    Chart    */
#chart_div{
  width: 80%;
    height: 150px;
    opacity: 1;
    position: relative;
    top: 30%;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}