/* NavBar*/
.navbar{
    width: 100%;
    max-width:414px;/* Full width */
    background-color: rgba(255,255,255,1);
    text-align:center;
    overflow: hidden;
}
.title {
    color: rgba(0,0,0,1);
    width: 100%;
    font-family: Roboto;
    font-weight:Bolder;
    font-size: 24px;
    opacity: 1;
    text-align: center;
    display:block;
}
.fa-arrow-left {
    opacity: 1;
    z-index:1;
    color:black;
    position: absolute;
}
.fa-arrow-left:hover {
  color: red;
  text-decoration: none;
}
/*area de texto*/

.Notas {
  width: 362px!important;
  height: 471px!important;
  background: rgba(246,246,246,1);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 25px;
  border: 1px solid rgba(122,122,122,1);
}
/* botao confirmar*/ 
.ConfirmarClass{
    height:100%;
    width:100%;
    max-width:288px;
    max-height:64px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position:absolute;
    top:600px;
    left:58px;
    background-color:#AB0404;
    color:white;
}
/* MenuBar */
.menubar {
    width:100%;
    height:100%;
    max-height:67px;
    max-width:414px;
    background-color: rgba(255,255,255,1);
    z-index:1;
    float: center;
    overflow: hidden;
    display:block;
}
.menubar i:hover {
    color:red;
}
.fa-home {
    color: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 10%;
    left:5%;
    z-index:2;
}
.fa-medal {
    color: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    bottom: 20%;
    left: 30%;
    z-index:2;
}
.fa-chart-line {
    color: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    bottom: 20%;
    left: 55%;
    z-index:2;
}
.fa-user-circle {
    color: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    bottom: 15%;
    left: 80%;
    z-index:2;
}
/*          */