.screen {
  width:100%;
  height:100%;
  max-width: 414px;
  max-height: 736px;
  background:rgb(253 253 253);
  opacity: 1;
  position: absolute;
  overflow: hidden;
  z-index:-1;
}
/* NavBar*/
.navbar{
    width: 100%;
    max-width:414px;/* Full width */
    background-color: rgba(255,255,255,1);
    text-align:center;
    overflow: hidden;
}
.title {
    position: absolute;
    color: rgb(58 57 57);
    width: 100%;
    top: 25px;
    font-size: 28px;
    font-family: INHERIT;
    text-align: center;
}
.fa-arrow-left {
    opacity: 1;
    z-index:1;
    color:black;
    position: absolute;
}
.fa-arrow-left:hover {
  color: red;
  text-decoration: none;
}
/*area de texto*/

.Notas {
  width: 362px!important;
  height: 400px!important;
  background: rgba(246,246,246,1);
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 25px;
  border: 1px solid rgba(122,122,122,1);
}
/* botao confirmar*/ 
.SubmeterClass{
    height: 5%;
    width: 60%;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    position: absolute;
    background-color: #7d2d2d;
    color: white;
    font-size: 19px;
    border: none;
    top: 80%;
    left: 20%;
    box-shadow: -4px 4px 2px rgb(171 171 171 / 50%);
}
/* MenuBar */
.menubar i:hover {  
  color: #000000;           /*rgba(171,4,4,1);*/
}
.menubar {
    width: 100%;
    height: 100%;
    max-height: 67px;
    max-width: 414px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    float: center;
    overflow: hidden;
    display: block;
    font-size: 12px;
}

.fa-home {
    opacity: 1;
    position: absolute;
    top: 16px!important;
    left: 9%;
    z-index: 2;
    color: #d2d2d2;
}

.fa-medal {
    opacity: 1;
    position: absolute;
    left: 33.5%;
    z-index: 2;
    top: 17px!important;
    color: #d2d2d2;
}

.fa-chart-line {
    opacity: 1;
    position: absolute;
    left: 59%;
    z-index: 2;
    top: 16px!important;
    color: #d2d2d2;
}

.fa-user-circle {
    opacity: 1;
    position: absolute;
    left: 82%;
    z-index: 2;
    top: 16px!important;
    color: #d2d2d2;
}

#goBack {
     position: absolute;
top: 35px;
    left: 27px;
    font-size: 24px;
    color: lightgray;
}

.fixed-bottom {
    position: fixed;
    background-color: #ececec82;
    top: 670px;
    left: 1px;
    width: 461px;
    box-shadow: 1px -5px 2px rgb(222 221 221 / 34%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*          */